.RightDrawer {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    background: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    transform: translateX(100%);
  }
  
 .open {
    transform: translateX(0%);
  }
  
  