.RightDrawer {
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 250px;
    background: #333;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
    transform: translateX(100%);
  }
  
 .open {
    transform: translateX(0%);
  }
  

.BottomDrawer{
    height : 70vh;
}
.translateBottom{
    --tw-translate-y: 95%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}